.container {
  padding: 0 2rem;
  background: url('/squirrel-bg.png') no-repeat right #262831;
  background-size: 50% auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 8rem;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  opacity: 0.3;
  font-size: 10px;
}

.footer a {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo, .login {
  line-height: 1.5;
  font-size: 1.5rem;
}


.logo p {
  margin: 0;
  color: #00abee;
  font-size: 0.8rem;
}
.login p {
  margin: 6px 0;
  color: white;
}
.google {
  margin-left: -3px !important;
}

@media (max-width: 600px) {
  .main {
    padding: 0 3rem;
  }
  .logo p {
    font-size: 0.6rem;
  }
  .login p {
    font-size: 1rem;
  }
}
